<form>

  <div class="form-group">
    <label for="inputAddress">Question</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Enter a new question">
  </div>
   <div class="form-row">
    <div class="form-group">
    <label for="formGroupExampleInput">Choice 1</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Choice 1">
  </div>
 
  <div class="form-group">
    <label for="formGroupExampleInput2">Choice 2</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Choice 2">
  </div>
   <div class="form-group">
    <label for="formGroupExampleInput">Choice 3</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Choice 3">
  </div>
 
  <div class="form-group">
    <label for="formGroupExampleInput2">Choice 4</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Choice 4">
  </div>
  
   </div>
  
  
  <div class="form-row">

    <div class="form-group col-md-4">
      <label for="inputState">Question Type</label>
      <select id="inputState" class="form-control">
        <option selected>Choose</option>
        <option>MCQ</option>
        <option>Open</option>
        <option>Associative</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Correct option</label>
      <select id="inputState" class="form-control">
        <option selected>Correct option</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
         <option>4</option>
      </select>
    </div>
    
  </div>

  <button type="submit" class="btn btn-primary">Add question</button>
</form>